<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Lof_HieuStudentManage2::hieustudent" sortOrder="10" title="hieustudent">
                    <resource id="Lof_HieuStudentManage2::student_student" sortOrder="10" title="student student"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>