<?xml version="1.0" encoding="UTF-8"?><!--/** * module.xml * * @copyright Copyright © 2020 landofcoder. All rights reserved. * @author    landofcoder@gmail.com */--><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">    <module name="Lof_HieuStudentManage" setup_version="0.0.1" >    </module></config>