<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="Lof_HieuStudentManage" frontName="Lof_HieuStudentManage">
            <module name="Lof_HieuStudentManage"/>
        </route>
    </router>
</config>